# Python 3.6
# These are the package versions that worked for me, apex was installed following this guide: https://github.com/facebookresearch/swav/issues/18#issuecomment-748123838

apex==0.1
appdirs==1.4.4
certifi==2025.4.26
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
docker-pycreds==0.4.0
gitdb==4.0.9
gitpython==3.1.18
idna==3.10
importlib-metadata==4.8.3
logger==1.4
numpy==1.19.5
pandas==1.1.5
pathtools==0.1.2
pillow==8.4.0
protobuf==3.19.6
psutil==7.2.2
python-dateutil==2.9.0.post0
pytz==2026.2
pyyaml==6.0.1
requests==2.27.1
scipy==1.5.4
sentry-sdk==2.66.0
setproctitle==1.2.3
six==1.17.0
smmap==5.0.0
torch==1.4.0
torchvision==0.5.0
typing-extensions==4.1.1
urllib3==1.26.20
wandb==0.14.2
zipp==3.6.0
